		.header{
			width: 1000px;
			height: 158px;
			margin: 0 auto;
		}
		.header-top{
			width:1000px;
			height: 100px;
			background-color:white;
		}
		.logo{
			width: 220px;
			height: 18px;
			background-color: grey;
			margin-left: 23px;
			margin-top: 43px;
			float: left;
		}
		.search{
			width: 228px;
			height: 30px;
			background-color: #f1f1f1;
			margin-top: 20px;
			margin-right: 38 px;
			float: right;
		}
		.search span{
			color: #868686;
			font-size: 12px;
			margin-left: 15px;
			margin-top: 9px;
			
		}
		.search img{
			float: right;
			margin-right: 8px;
			margin-top: 8px;
		}
		.header-nav{
			width: 1000px;
			height:58px;
		}
		.list{
			width: 118px;
			height: 58px;
			background-color: #323232;
			border: 1px solid #353535;
			list-style: none;
			text-align: center;
			line-height: 58px;
			text-decoration: none;
			float: left;
		}
		a{
			text-decoration: none;
		}
		.list:hover{
			background-color: red;
		}
		.banner{
			width: 1000px;
			height: 472px;
			margin: 0 auto;
			overflow: hidden;
			background-image: url(../images/banner-1.jpg);
		}
		.banner h2{
			width: 318px;
			height: 38px;
			margin-top: 196px;
		}
		.prev{
			margin-top: 40px;
			margin-left: 0px;
			float: left;
		}
		.next{
			margin-top: 40px;
			margin-right: 0px;
			float: right;
		}
		.banner h2{
			margin: 0 auto;
			color :#0a3b7e;
		}
		.banner-inner{
			width: 1000px;
			height:118px;
			margin-top: 156px;

		}
		.container{
			width: 1000px;
			height: 537px;
			margin: 0 auto;
		}
		.container-top-1{
			height: 240px;
			width: 500px;
			background-color: #fff;
			float: left;
		}
		.container-top-1 h3{
			margin-top: 36px;
			margin-left: 22px;
			font-size: 17px;
		}
		.con-t-1-list{
			width: 450px;
			height: 108px;
			margin-top: 30px;
		}
		.con-t-1-list li {
					width: 450px;
		}
		.con-t-1-list li  a {
			font-size: 12px;
			color: #666;
			text-decoration: none;
		}
		.con-t-1-list li span{
			font-size: 12px;
			color: #666;
			float: right;
		}
		.con-t-1-list:hover{
			background-color: red;
		}
		.container-bottom h3{
			margin-top: 26px;
			margin-left: 30px;
			font-size: 17px;
		}
		.container-bottom-1{
			width:210px;
			height: 92px;
			float: left;
			margin-left: 20px;
			margin-top: 20px;
			color: #535353;
		}
		.container-bottom-2{
			width: 212px;
			height: 192px;
			float: left;
			margin-top: 20px;
			margin-left: 42px;
			color: #535353;
			}
		.container-bottom-3{
			width: 212px;
			height: 192px;
			float: left;
			margin-top: 20px;
			margin-left: 40px;
			color: #535353;
		}
		.container-bottom-4{
			width:212px;
			height: 192px;
			float: left;
			margin-left: 40px;
			margin-top: 20px;
			color: #535353;
		}
		.container-top-2{
			height: 240px;
			width: 240px;
			background-color: #f1f1f1;
			float: left;
		}
		.container-top-2 p{
			color: #666;
		}
		.container-top-3 p{
			color: #666;
		}
		.container-top-3{
			width: 260px;
			height: 240px;
			background-color:white;
			float: left;
		}
		.footer{
			width: 1000px;
			height: 330px;
			background-color: #e5e5e5;
			margin: 0 auto;
		}
		.footer-top{
			width: 1000px;
			height: 250px;
		}
		.footer-top-1{
			width: 522px;
			height: 250px;
			background-color: #e5e5e5;
			float: left;
		}
		.footer-top-2{
			width: 200px;
			height: 250px;
			background-color: #e5e5e5;
			float: left;
		}
		.footer-top-3{
			width: 270px;
			height: 250px;
			background-color: #e5e5e5;
			float: left;
		}
		.footer-bottom{
			width: 1000px;
			height: 80px;
			background-color: white;
			border: 1px solid black;
		}
		.footer-bottom span{
			color: #b8b8b8;
		}